{% extends 'account/base.html' %}
{% load socialaccount %}
{% block user_content %}


<script src="https://apis.google.com/js/platform.js" async defer></script>
  <form id="login-form" action="{% url 'user-login' %}{% if next %}?next={{ next }}{% endif %}" method="post">
    {% csrf_token %}
    
    <p><input type="text" class="ls-input" name="email" id="email" placeholder="Email" value="{{ form.data.email }}"></p>
    <p><input type="password" class="ls-input" name="password" id="password" placeholder="Password"></p>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="error">
          {{ error }}
        </p>
      {% endfor %}
    {% endif %}
   
    <p><button type="submit" aria-label="Log In" class="ls-button ls-button_look_primary">Log in</button></p>
    <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>
     <p><button type="submit"  class="ls-button ls-button_look_primary">
     {% include "socialaccount/snippets/provider_list.html" with process="login" %}</button></p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

  </form>

 
  
{% endblock %}
